aidp/aidp/data/*
aidp/aidp/ml/*
aidp/aidp/report/*
aidp/aidp/runners/*
aidp/infiles/*
aidp/out.log
aidp/aidp/__pycache__/
aidp/test01_both_Training_Performance.csv
aidp/test01_clinical_Training_Performance.csv
aidp/test01_dmri_Training_Performance.csv
aidp/test_set_test01.xlsx
aidp/tests/resources/test_set.xlsx
aidp/tests/resources/train_set.xlsx
aidp/.DS_Store
aidp/resources/*
aidp/tests/.DS_Store
.DS_Store
aidp/*
scripts/*.ipynb